@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}
body {
    height : 100%;
    background-color: #ffffff;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(89, 113, 250) rgb(245, 245, 245);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  border-radius: 20px;
  width: 3px;
  height: 3px;
  
}

*::-webkit-scrollbar-track {
  border-radius: 20px;
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}
.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient( #e6e6e6 , #5b21b6 );
    background-size: 0 2px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(34, 67, 255), rgb(17, 26, 114))
}

.link-underline:hover {
    background-size: 100% 2px;
    background-position: 50% 100%
}


.floating { 
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.spin {
    animation: spin 200s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pulse {
    animation: pulse 10s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}